* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

main {
  background-image: url("../image/02.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 550px;
  width: auto;
}

header {
  height: 550px;
  width: auto;
  background-color: rgb(0, 0, 0);
  opacity: 0.7;
  display: flex;
  flex-direction: column;
  gap: 100px;
  height: 550px;
  width: auto;
}
header nav {
  padding-left: 40px;
  padding-right: 40px;
  opacity: initial;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
header nav .icone {
  color: white;
  transform: scale(3);
  display: none;
}
header nav a:nth-child(1) {
  height: 70px;
  width: 50px;
  margin-top: 20px;
}
header nav a:nth-child(1) img {
  height: 70px;
  width: 50px;
}
header nav div ul {
  display: flex;
  gap: 20px;
}
header nav div ul li a {
  color: white;
  padding: 1px;
}
header nav div ul li::after {
  content: "";
  height: 2px;
  width: 0;
  background-color: red;
  display: block;
  transition: 0.5s;
}
header nav div ul li:hover:after {
  width: 100%;
}
header > div {
  height: auto;
  width: auto;
  text-align: center;
  color: white;
}
header > div h1 {
  margin-bottom: 30px;
  font-size: 40px;
  word-spacing: 15px;
  font-style: normal;
  font-weight: bolder;
}
header > div p {
  margin-bottom: 30px;
}
header > div a {
  transition: all ease-in-out 0.5s;
  color: white;
  padding: 10px;
  border: 1px solid white;
}
header > div a:hover {
  background-color: red;
}

@media screen and (max-width: 540px) {
  header nav {
    padding-left: 20px;
    padding-right: 20px;
  }
  header nav .icone {
    display: block;
  }
  header nav .hide {
    height: 450px;
    width: 0;
  }
  header nav div {
    transition: all ease-in-out 1s;
    background-color: red;
    opacity: 0.8;
    position: absolute;
    height: 450px;
    width: 150px;
    right: 0;
    top: 100px;
  }
  header nav div ul {
    flex-direction: column;
    margin-top: 100px;
    margin-left: 30px;
  }
  header > div h1 {
    font-size: 30px;
    word-spacing: 10px;
  }
}
main section {
  justify-content: space-around;
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
main section article:not(main section article:nth-child(3)) {
  height: 400px;
  width: 400px;
}
main section article:nth-child(1) div {
  text-align: center;
  height: 400px;
  width: 400px;
}
main section article:nth-child(1) div img {
  height: 400px;
  width: 400px;
}
main section article:nth-child(2) div {
  padding-top: 20px;
}
main section article:nth-child(2) div p {
  text-align: center;
  text-align: justify;
}
main section article:nth-child(2) div p:nth-child(3) a {
  transition: 0.5s;
  color: black;
  border: 1px solid black;
  padding: 10px 20px;
}
main section article:nth-child(2) div p:nth-child(3) a:hover {
  background-color: red;
  color: white;
}
main section article:nth-child(3) {
  padding-top: 50px;
  height: 250px;
  width: 100%;
  line-height: 30px;
  text-align: justify;
  text-align: center;
}
main section article:nth-child(3) h2 {
  margin-bottom: 30px;
  font-weight: bold;
}
main section article:nth-child(3) div p {
  text-align: center;
}/*# sourceMappingURL=apropos.css.map */